body {
    font-family: Calibri;
    background-image: url("white.jpg");
    color: white;
}

.dark-mode {
    color: white;
    background-color: #353535 !important;

}

mutno {
    filter: blur 12 px;