body {
    font-family: Calibri;
    background-color: #858585;
    color: black;
}

.dark-mode {
    color: white;
    background-color: #3d3d3d !important;

}

#mutno {
    filter: blur 12 px;
}

.DidntAsk {
    text-align: center;
}

.infobox {
        text-align: center;
    padding: 15%;
        border: 1px solid #a2a9b1;
        border-spacing: 3px;
        background-color: #858585;
        color: black;
        margin: 0.5em 0 0.5em 1em;
        padding: 0.2em;
        float: right;
        clear: right;
        font-size: 88%;
        line-height: 1.5em;
        width: 22em;
}